blockquote {
    padding: 0 60px;
    padding: 10px;
    padding-left: 55px;
    font-style: italic;
}

blockquote:before {
    display: block;
    font-size: 700%;
    content: '“';
    margin-left: -0.55em;
    margin-top: -0.34em;
    position: absolute;
}